<label>Filter By:</label>
<select (change)="rangeChange($event.target.value)">
  <option value="charity">Charity (right...)</option>
  <option value="scheme">Ponzi Scheme</option>
  <option value="stealing">I'm straight up just stealing money</option>
  </select>

<div *ngFor="let project of projects | async | filter: range">
  <h3 (click)="viewDetail(project)">{{project.name}}</h3>
  <p>{{project.creators}}</p>
  <hr>
  <div *ngIf="currentRoute === '/admin'">
    <app-edit [selectedProject]="project"></app-edit>
  </div>
</div>
